.subtelaroxo {
    text-align: center;
}

.details-control {
    cursor: pointer;
}

.progress {
    height: 20px;
}

.lds-ring_login {
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
}

.expanded-table-normal-cell {
    border-radius: 10px;
    background-color: #e7e9ed;
}

#st-01 {
    font-weight: bold;
    font-size: 15px;
}

#st-02 {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

#st-03 {
    font-weight: bold;
    font-size: 14px;
}

.bp01 {
    width: 100%;
}

.btn {
    background: #52C4FF;
    color: black;
    font-weight: bold;
    font-size: 15px;
    width: -webkit-fill-available;
}

.btn:hover {
    opacity: 0.7;
    transition: opacity 0.6s;
}