.c-tabela {
    flex-direction: column;
}

.ptotal {
    text-align: center;
}

.progress {
    height: 20px;
    background-color: lightgrey;
}

.lds-ring_login {
    position: absolute;
    margin-left: 30%;

}

.expanded-table-normal-cell {
    border-radius: 10px;
    background-color: #e7e9ed;
}

#st-01 {
    font-weight: bold;
    font-size: 15px;
}

#st-02 {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

#st-03 {
    font-weight: bold;
    font-size: 14px;
}

#nd01 {
    margin: 0;
    padding: 0;
}